<h1>Graphics Task</h1>
<br>
<h3>How would you represent the relation between <strong>knowledge</strong> (K) and <strong>information</strong> (I)?</h3>
<br>
<div class="row">
  <div class="span4">
    
  </div>
  
</div>