<!-- http://www.who.int/mediacentre/factsheets/fs332/en/index.html -->

<%= image_tag "http://www.who.int/sysmedia/media/resources/who-logo-en.jpg" %>

<h1>Early child development</h1>
<br>

<h4 class="section_head1">Key facts</h4>

<ul class="disc">
  	<li>Early childhood is the most important phase for overall development throughout the lifespan.	</li>
  	<li>Brain and biological development during the first years of life is highly influenced by an infant’s environment.</li>
  	<li>Early experiences determine health, education and economic participation for the rest of life.</li>
  	<li>Every year, more than 200 million children under five years old fail to reach their full cognitive and social potential.</li>
  	<li>There are simple and effective ways for families and caregivers to ensure optimal child development.</li>
</ul>
<hr/>
		<p>
  		
  		<span>During early childhood (from the prenatal period to eight years of age), children undergo rapid growth that is highly influenced by their environment. Many challenges faced by adults, such as mental health issues, obesity, heart disease, criminality, and poor literacy and numeracy, can be traced back to early childhood.</span></p>
		<p>
  		
  		<span>Every year, more than 200 million children under five years old fail to reach their full cognitive and social potential. Most of these children live in South Asia and sub-Saharan Africa. As a result of poor development, many children are likely to under-achieve in school and subsequently to  have low incomes as adults. As adults, they are also likely to have children at a very early age, and provide poor health care, nutrition and stimulation to their children, thus contributing to the intergenerational transmission of poverty and poor development. Despite the overwhelming evidence, the health sector has been slow to promote early child development and to support families with appropriate information and skills.</span></p>

<h4 class="section_head2">Early brain development</h4>

		<p>
  		
  		<span>Early childhood is the most intensive period of brain development during the lifespan. Adequate stimulation and nutrition are essential for development during the first three years of life. It is during these years that a child's brain is most sensitive to the influences of the external environment. Rapid brain development affects cognitive, social and emotional growth. Such development helps to ensure that each child reaches his or her potential and is a productive part of a rapidly changing, global society.</span></p>
		<p>
  		
  		<span>The more stimulating the early environment, the more a child develops and learns. Language and cognitive development are especially important during the first six months to three years of life. When children spend their early years in a less stimulating, or less emotionally and physically supportive environment, brain development is affected and leads to cognitive, social and behavioural delays.  Later in life, these children will have difficulty dealing with complex situations and environments. High levels of adversity and stress during early childhood can increase the risk of stress-related disease and learning problems well into the adult years.</span></p>

<h4 class="section_head2">Risk factors</h4>

		<p>
  		
  		<span>Many factors can disrupt early child development.  Four risk factors affect at least 20–25% of infants and young children in developing countries:</span></p>
<ul class="decimal">
  	<li>malnutrition that is chronic and severe enough to cause growth stunting
</li>
  	<li>inadequate stimulation or learning opportunities
</li>
  	<li>iodine deficiency</li>
  	<li>iron deficiency anaemia.
</li>
</ul>
		<p>
  		
  		<span>Other important risk factors are malaria, intrauterine growth restriction, maternal depression, exposure to violence, and exposure to heavy metals.</span></p>
		<p>
  		
  		<span>Developing an early emotional connection to a caregiver is also critical for an infant’s well-being. Absence of attachment to a consistent caregiver – such as occurs in a poorly run orphanage – can have significant negative effects on brain development and cognitive functioning.</span></p>

<h4 class="section_head2">Interventions</h4>

		<p>
  		
  		<span>To reach their potential, young children need to spend time in a caring, responsive environment that protects them from neglect and inappropriate disapproval and punishment.</span></p>
		<p>
  		
  		<span>Parents and families are the key to early child development, but need support to provide the right environment. Children benefit when national governments adopt “family friendly” social protection policies that guarantee adequate family income, maternity benefits, financial support, and allow for parents and caregivers to devote time and attention to young children.</span></p>
		<p>
  		
  		<span>Globally, societies that invest in children and families in the early years – whether rich or poor – have the most literate and numerate populations. These are also the societies that have the best health status and lowest levels of health inequality in the world.</span></p>
		<p>
  		
  		<span>Early child development (ECD) interventions provide direct learning experiences to children and families. They are:</span></p>
<ul class="disc">
  	<li>targeted to young and disadvantaged children
</li>
  	<li>high quality and long lasting
</li>
  	<li>integrated with family support, health, nutrition, or education systems and services.
</li>
</ul>
		<p>
  		
  		<span>The health care system and health providers have pivotal roles to play, as they are often the points of early contact with a child and can serve as gateways to other early childhood services. Health care providers are trusted sources of information for families and can give critical guidance about:</span></p>
<ul class="disc">
  	<li>how to communicate with infants and children
	
</li>
  	<li>ways to stimulate children for better growth
</li>
  	<li>how to handle such common developmental problems as sleep, feeding and discipline
</li>
  	<li>ways to reduce common childhood injuries.</li>
</ul>

<h4 class="section_head2">Economic impact</h4>

		<p>
  		
  		<span>Investing in young children is an essential component for the development of a national economy. Early opportunities for learning in combination with improved nutrition, increases the likelihood that a child will attend school and become an adult with higher income, better health, lower crime rates, and lower levels of welfare dependence than those who do not receive early development support.</span></p>