<p>
  <img src ="http://jslhr.asha.org.proxy-um.researchport.umd.edu/icons/home/JSLHR_header.jpg" alt="Journal of Speech, Language, and Hearning Research"/>
</p>
<br>
<h1>The Role of Home Literacy Practices in Preschool Children's Language and Emergent Literacy Skills</h1>
<hr>
<p>
  This study examined how 4 specific measures of home literacy practices (i.e.,
  shared book reading frequency, maternal book reading strategies, child's
  enjoyment of reading, and maternal sensitivity) and a global measure of the quality
  and responsiveness of the home environment during the preschool years
  predicted children's language and emergent literacy skills between the ages of
  3 and 5 years. Study participants were 72 African American children and their
  mothers or primary guardians primarily from low-income families whose home
  literacy environment and development have been followed since infancy. Annually,
  between 18 months and 5 years of age, the children's mothers were interviewed
  about the frequency they read to their child and how much their child enjoyed
  being read to, and the overall quality and responsiveness of the home environment
  were observed. Mothers also were observed reading to their child once a year at
  2, 3, and 4 years of age, and maternal sensitivity and types of maternal book
  reading strategies were coded. Children's receptive and expressive language and
  vocabulary were assessed annually between 3 years of age and kindergarten
  entry, and emergent literacy skills were assessed at 4 years and kindergarten entry.
  The specific home literacy practices showed moderate to large correlations with
  each other, and only a few significant associations with the language and literacy
  outcomes, after controlling for maternal education, maternal reading skills, and
  the child's gender. The global measure of overall responsiveness and support of
  the home environment was the strongest predictor of children's language and early
  literacy skills and contributed over and above the specific literacy practice
  measures in predicting children's early language and literacy development.
</p>