<p>
  <img src ="http://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Wikipedia-logo-en-big.png/220px-Wikipedia-logo-en-big.png" alt="Wikipedia Logo"/>
</p>
<br>
<h1>Language Development</h1>
<h4>From Wikipedia, the free encyclopedia</h4>
<hr>
<p>Language development is a process starting early in human life, when a person begins to acquire language by learning it as it is spoken and by mimicry. Children's language development moves from simple to complex. Infants start without language. Yet by four months of age, babies can read lips and discriminate speech sounds. The language that infants speak is called babbling.</p>
<p>Usually, language starts off as recall of simple words without associated meaning, but as children grow, words acquire meaning, with connections between words being formed. As a person gets older, new meanings and new associations are created and vocabulary increases as more words are learned.</p>
<p>Infants use their bodies, vocal cries and other preverbal vocalizations to communicate their wants, needs and dispositions. Even though most children begin to vocalize and eventually verbalize at various ages and at different rates, they learn their first language without conscious instruction from parents or caretakers. In fact research has shown that the earliest learning begins in utero when the fetus can recognize the sounds and speech patterns of its mother's voice.</p>
<h2>Theoretical frameworks of language development</h2>
<p>There are four major theories of language development.</p>
<p>The behaviorist theory, proposed by B. F. Skinner suggests that language is learned through operant conditioning (reinforcement and imitation). This perspective sides with the nurture side of the nature-nurture debate. This perspective has not been widely accepted in either psychology or linguistics for some time, but by many accounts, is experiencing a resurgence.[1] Some empiricist theory accounts today use behaviorist models.[2]</p>