<!-- http://www.dailygalaxy.com/my_weblog/2012/04/researchers-from-the-australian-national-university-planetary-science-institute-have-discovered-that-rocky-eartthlike-planet.html -->

<%= image_tag "http://www.dailygalaxy.com/banner/logo-short.jpg" %>
<hr/>

<h1>Presence of Life may be Required to Maintain Habitability of a Planet over Billions of Years</h1>
<br>

<div class="entry-body">
<p>Researchers from the Australian National University Planetary Science Institute have discovered that rocky, Earth-like planets are probably more abundant than stars. The institute is a joint venture of the Research School of Astronomy and Astrophysics and the Research School of Earth Sciences.</p>
<p>“Determining whether these planets are habitable has become the new holy grail of astronomy,” said planetary scientist Dr Charley Lineweaver, lead author of the study at the The Australian National University.</p>
</div>

<!-- TechMediaNetwork Adsense End -->
				
“The new-found abundance of planets, combined with the much larger range of inhabited terrestrial environments suggests that habitable planets are common. This increases the probability of finding some kind of extraterrestrial life,” he said.
<p>“By comparing the inhabited and uninhabited regions of Earth, we can identify the most important factors that determine habitability. For terrestrial life, those factors are liquid water, a narrow range of temperature, and an energy source,” said Aditya Chopra also at the Australian National University.</p>
<p>“Habitability is not just a question of abiotic environmental conditions – the presence of life may be required to maintain the habitability of a planet over billions of years," added Lineweaver. “Planetary habitability is a complex and confusing concept that we are only beginning to get our heads around, but as a species that wants to survive, it is in our interest to get our heads around it soon.”</p>