<p>
  <img src ="http://embargowatch.files.wordpress.com/2011/03/universe-today-logo.jpg" alt="Universe Today Logo"/>
</p>
<br>
<h3>Space and astronomy news</h3>
<hr>
<h1>Habitable Planet</h1>
<p>The term habitable planet seems rather broad. Does it mean that it is habitable for humans? Is it merely capable of supporting some other form of life? Quite simply, planetary habitability refers to a planets ability to both develop and sustain life.</p>
<p>Unfortunately, scientists have had to base their calculations for a habitable planet on Earths characteristics and do some guesswork. Some of the factors that astronomers look at when evaluating a planets habitability are mass, surface characteristics, orbit, rotation, and geochemistry.</p>