<p class="instructions">
  How interested are you in the topic of planetary habitability?
</p>

<div class="task15">
  <%= render "shared/mm_line", :num => 100 %>
  <%= f.hidden_field :t_interest_astro, :class => "mmline_value" %>
</div>