<p class="instructions">
  How much do you know about the domain of astrophysics?
</p>

<div class="task1">
  <%= render "shared/mm_line", :num => 100 %>
  <%= f.hidden_field :d_know_astro, :class => "mmline_value" %>
</div>