<p class="instructions">
  How much do you know about the topic of stars in the Milky Way Galaxy?
</p>

<div class="task3">
  <%= render "shared/mm_line", :num => 100 %>
  <%= f.hidden_field :t_know_astro, :class => "mmline_value" %>
</div>