<p class="instructions">
  What is the average number of words in a normally developing 24-month-old's vocabulary? 
</p>

<div class="control-group">
  <%= f.text_area :answer_discrete, :class => "span4", :rows => 6 %>
</div>