<p class="instructions">
  How much do you know about the topic of early verbal development?
</p>

<div class="task5">
  <%= render "shared/mm_line", :num => 100 %>
  <%= f.hidden_field :t_know_psych, :class => "mmline_value" %>
</div>