<p class="instructions">
  How much do you know about the topic of vocabulary development in young children?
</p>

<div class="task2">
  <%= render "shared/mm_line", :num => 100 %>
  <%= f.hidden_field :t_know_psyc, :class => "mmline_value" %>
</div>