<p class="instructions">
  Which factors may promote or hinder verbal development in young children? Please explain.
</p>

<div class="control-group">
  <%= f.text_area :answer_open, :class => "span4", :rows => 20 %>
</div>