<p class="instructions">
  How confident are you in your response?
</p>

<div class="task10">
  <%= render "shared/mm_line", :num => 100 %>
  <%= f.hidden_field :t_know_psych, :class => "mmline_value" %>
</div>

<p class="instructions">
  Please explain.
</p>