<p class="instructions">
  How much do you know about the domain of developmental psychology?
</p>

<div class="task0">
  <%= render "shared/mm_line", :num => 100 %>
  <%= f.hidden_field :d_know_psyc, :class => "mmline_value" %>  
</div>