<p class="instructions">
  How confident are you in your response?
</p>

<div class="task17">
  <%= render "shared/mm_line", :num => 100 %>
  <%= f.hidden_field :confidence_open, :class => "mmline_value" %>
</div>

<p class="instructions">
  Please explain.
</p>

<%= f.text_area :confidentwhy_open, :row => 5 %>
