<p class="instructions">
  How interested are you in the domain of astrophysics?
</p>

<div class="task11">
  <%= render "shared/mm_line", :num => 100 %>
  <%= f.hidden_field :d_interest_astro, :class => "mmline_value" %>
</div>