<!-- http://wondertime.go.com/learning/child-development/stages-toddler-2years.html -->

<%= image_tag "http://wondertime.go.com/resources/images/global/logo_right.jpg" %>
<%= image_tag "http://family.go.com/images/chrome/fam_chrome_wt_fam_logo.gif" %>

<hr/>

<h1>2 Years</h1>
<br>

<div id="articleText_agesAndStages">
  
                        <p>Just about all two-year-olds like to explore, examine, test, and try to figure out what is happening in the world around them. Day by day, you can watch your child make connections and discover relationships. He will start to demonstrate new abilities &mdash; to communicate, to perform, and to exert his independence &mdash; all on his own. It is unfortunate (although understandable) that this age is typically referred to as the terrible twos. The reality of being two means standing up for oneself as an individual in no uncertain terms, and is an entirely normal part of development. True, it can be frustrating at times, but try not to let your child's temporary phase of defiance and tantrums overshadow his new achievements and abilities. </p>

<h4>MILESTONES</h4>

<p>By the age of two, children's different personalities and skills definitely shine through. The following milestones are meant to give you an idea of the average age that children master various milestones, but be aware that most children will not be completely average. They often excel in certain areas while paying little attention to others at any given time. If, however, you are concerned about your child's development, be sure to address your concerns with your child's doctor.</p>

<p>Between the ages of 2 and 3 years, you're likely to see your child:</p>

<p><b>Talk in sentences. </b>While the typical two-year-old has a vocabulary of 30-50 words and can put two words together, another year of language development usually brings the ability to make three-word sentences and communicate more effectively. Not only do children start to use pronouns such as I, me, you, and we, but they also start to use them to express emotions (in ways other than through tantrums!). And by the time a child is 3 years old, grown-ups should be able to understand at least 75 percent of what he says. </p>

<p><b>Start to understand rules. </b>The average two-and-a-half-year-old knows when she has broken rules and can even admonish herself by saying, "No, no," or "Bad girl" (though many will still be tempted to continue the behavior!). She may become upset when things aren't as they should be, for example, when clothing is put on wrong. And by the time a child reaches three years, she will be able to evaluate events as good or bad. 
</p>

<p><b>Run, jump, and climb. </b>These gross motor skills really improve over the year as a two- year-old's strength and coordination markedly increase. Most 2 1/2-year-olds can jump off the ground with both feet, and by the time children reach their third birthday, they can typically ride a tricycle and balance for several seconds on one foot. Draw and color. While it's uncommon for 3-year-olds to pay attention to coloring in the lines, the period between 2 and 3 is when scribbling generally becomes more deliberate, and children typically learn to draw (and recognize) circles. By age 3, many will be able to identify some colors. </p>

<p><b>Name and categorize.</b> Two-year-olds commonly learn the names of five or more body parts, and are able to recite their own names (first and last) by the time they reach their third birthday. Sorting objects according to category and understanding descriptive categories like "big" and "little" or "soft" and "hard" are also typical accomplishments at this age. 
</p>                     
</div>
