<!-- http://www.acf.hhs.gov/programs/opre/ehs/ehs_resrch/reports/impacts_vol3/impacts_vol3_pan.html -->

<%= image_tag "http://www.acf.hhs.gov/images/ban08/hhsacftext.jpg" %>
<hr/>

<h1>Validation of National Child Language Measures at 14 and 24 Months</h1>
<br>

<p>
  At the 14- and 24-month data collection points, the national 
  evaluation of Early Head Start (EHS) relied primarily on the MacArthur 
  Communicative Developmental Inventory (CDI; Fenson et al., 2000) as a 
  measure of children&rsquo;s language development. The CDI is a checklist 
  of age-appropriate language skills (e.g., vocabulary comprehension and 
  production, use of gestures, sentence types) that is completed by parents. 
  Whereas studies with middle-class families indicate that mothers are relatively 
  good judges of their children&rsquo;s concurrent language use (Fenson et 
  al., 1994), some researchers have questioned the accuracy of parental 
  report by low-income mothers or those with lower levels of education (e.g., 
  Arriaga, Fenson, Cronan &amp; Pethick, 1998; Feldman et al., 2000). Thus, 
  it was important for the current evaluation of EHS to ascertain how accurate 
  mothers in the study were in assessing their children&rsquo;s vocabulary. 
</p>
<p>
  Research teams at Harvard Graduate School of Education and 
  at New York University Graduate School of Education transcribed and analyzed 
  parent-child discourse recorded during the 3-bag activity. The combined 
  sample at the two sites was comprised of 161 dyads at 14 months and 158 
  dyads at 24 months. Mothers ranged in age from 14 to 43 years at the time 
  of their children&rsquo;s birth. Approximately 45 percent of the mothers 
  identified themselves as White, 25 percent as African American, 17 percent 
  as Latina, and the remaining as West Indian or of mixed ethnicity. White 
  mothers were all in the Vermont sample, while nearly all African American 
  and Latina mothers were part of the New York sample. 
</p>
<p>
  <span>The semi-structured 3-bag task from the 14- and 24-month 
    national protocol provided the basis for detailed analysis of mother and 
    child spontaneous speech. Videotaped interaction was transcribed and analyzed 
    using the automated facilities of CHILDES (Child Language Data Exchange 
    System; MacWhinney, 2000; MacWhinney &amp; Snow, 1985). We focus here 
    on two measures of child language use: the number of different words (
    <i>word types</i>) 
    produced by the child and the total number of words (
    <i>total words</i>) spoken by the child. Other measures considered were children&rsquo;s 
    MacArthur CDI comprehension and production scores at 14 months, MacArthur 
    CDI production scores at 24 months, Bayley MDI scores at both ages and 
    Bayley Language Factor scores at 24 months. Given the limited ethnic diversity 
    in the VT sample, potential differences associated with ethnicity were 
    explored only within the NY sample.
  </span>
</p>
        <p><span > Wide variation was observed on all measures. Not 
          surprisingly, children&rsquo;s spontaneous language production at 14 months 
          was still quite limited. On average, children at this age produced 2.99 
          word types (SD = 3.97) and 6.42 total words (SD = 9.90) during the 10-minute </span><span class="italic">3-bag task</span>. Maternal report on the MacArthur 
          CDI indicated that children understood an average of 49.55 of the words 
          inventoried (SD = 19.42) and produced an average of 12.35 words (SD = 
          13.03). The average Bayley MDI score was 95.87 (SD = 11.32). By 24 months, 
          children&rsquo;s spontaneous language production had increased substantially, 
          as indexed both by direct observation and by maternal report. Children 
          produced an average of 40.59 word types (SD = 18.63) and 109.37 total 
          words (SD = 75.31) in interaction with their mothers during the <span ><span class="italic">10-minute observation</span>. MacArthur CDI production 
          scores averaged 53.17 (SD = 20.35). Average Bayley MDI scores fell to 
          85.26 (SD = 12.09). Bayley Language Factor scores averaged 6.77 (SD = 
          3.35).</span></p>
          <p><span > Associations between child spontaneous speech measures, 
            parent report measures, and children&rsquo;s performance on structured 
            cognitive and language assessments are shown in Tables 1 and 2. Results 
            showed that parental report of children&rsquo;s productive vocabulary at 
            14 months correlated moderately well with children&rsquo;s spontaneous 
            vocabulary use as measured by word types (r = .43, p &lt; .001) and total 
            words (r = .39, p &lt; .001). Bayley MDI scores at 14 months showed no 
            relationship to spontaneous speech measures and only a weak association 
            with either CDI comprehension (r = .18, p &lt; .05) or production (r = 
            .17, p &lt; .05), suggesting that the structured Bayley assessment at 
            this age indexes children&rsquo;s language development only minimally. 
          </span></p>
          <p>The associations between child spontaneous speech measures, maternal report measures, and structured assessments at 14 months were based on a total number of 161 words.  While, the associations between child spontaneous speech measures, maternal report measures, and structured assessments at 14 months were based on a total number of 158 words.</p>
          <p> <span >At 24 months, parent report of child 
            language was strongly associated with both spontaneous speech measures 
            (word types: r = .53, p &lt; .001; total words: r = .40, p &lt; .001) 
            and with structured assessments (Bayley MDI: r = .52, p &lt; .001; Bayley 
            Language Factor: r = .61, p &lt; .001).</span> With few exceptions, these 
            general patterns were found for families in both sites and across ethnic 
            groups. Child productive vocabulary reported by Latina mothers was not 
            associated with child word types at 24 months, possibly due to the small 
            sample size (N = 27). </p>
            <p>Regression analyses using maternal report of children&rsquo;s 
              productive vocabulary to predict children&rsquo;s spontaneous vocabulary 
              use (word types) and language performance on Bayley (Bayley Language Factor) 
              confirm that parental reports of children&rsquo;s language development 
              are congruent with actual vocabulary use and structured assessments, particularly 
              at 24 months. At age 2, parental report alone accounted for 27.5 percent 
              of variation in child word types and 37.5 percent in Bayley Language Factor 
              scores. Controlling for maternal education, child gender and birth order, 
              the variation accounted for by maternal report increased to 31.3 percent 
              for word types and to 39.9 percent for Bayley Language Factor. </p>
              <p>These results suggest that low-income parents&rsquo; reports 
                of children&rsquo;s language abilities are congruent with children&rsquo;s 
                observed language use. Thus, parental report constitutes a valid outcome 
                measure of program impacts on child language development. Bayley Language 
                Factor scores, based on structured assessment with a relatively unfamiliar 
                adult, are also strongly supported by direct observation of children&rsquo;s 
                spontaneous speech in interaction with a familiar adult (i.e., primary 
                caregiver), supporting the validity of the structured assessments used 
                in the national evaluation. </p>