<p>
  <img src ="http://www.bu.edu/family/files/2009/11/acf.jpg" alt="Admin Children and Families Logo"/>
</p>
<br>
<h3>Office of Planning, Research, & Evaluation</h3>
<hr>
<h1>Validation of National Child Language Measures as 14 and 24 Months</h1>
<p>At the 14- and 24-month data collection points, the national evaluation of Early Head Start (EHS) relied primarily on the MacArthur Communicative Developmental Inventory (CDI; Fenson et al., 2000) as a measure of children's language development. The CDI is a checklist of age-appropriate language skills (e.g., vocabulary comprehension and production, use of gestures, sentence types) that is completed by parents. Whereas studies with middle-class families indicate that mothers are relatively good judges of their children's concurrent language use (Fenson et al., 1994), some researchers have questioned the accuracy of parental report by low-income mothers or those with lower levels of education (e.g., Arriaga, Fenson, Cronan & Pethick, 1998; Feldman et al., 2000). Thus, it was important for the current evaluation of EHS to ascertain how accurate mothers in the study were in assessing their children's vocabulary.</p>
<p>Research teams at Harvard Graduate School of Education and at New York University Graduate School of Education transcribed and analyzed parent-child discourse recorded during the 3-bag activity. The combined sample at the two sites was comprised of 161 dyads at 14 months and 158 dyads at 24 months. Mothers ranged in age from 14 to 43 years at the time of their children's birth. Approximately 45 percent of the mothers identified themselves as White, 25 percent as African American, 17 percent as Latina, and the remaining as West Indian or of mixed ethnicity. White mothers were all in the Vermont sample, while nearly all African American and Latina mothers were part of the New York sample.</p>
<p>The semi-structured 3-bag task from the 14- and 24-month national protocol provided the basis for detailed analysis of mother and child spontaneous speech. Videotaped interaction was transcribed and analyzed using the automated facilities of CHILDES (Child Language Data Exchange System; MacWhinney, 2000; MacWhinney & Snow, 1985). We focus here on two measures of child language use: the number of different words (word types) produced by the child and the total number of words (total words) spoken by the child. Other measures considered were children's MacArthur CDI comprehension and production scores at 14 months, MacArthur CDI production scores at 24 months, Bayley MDI scores at both ages and Bayley Language Factor scores at 24 months. Given the limited ethnic diversity in the VT sample, potential differences associated with ethnicity were explored only within the NY sample.</p>
<p>Wide variation was observed on all measures. Not surprisingly, children's spontaneous language production at 14 months was still quite limited. On average, children at this age produced 2.99 word types (SD = 3.97) and 6.42 total words (SD = 9.90) during the 10-minute 3-bag task. Maternal report on the MacArthur CDI indicated that children understood an average of 49.55 of the words inventoried (SD = 19.42) and produced an average of 12.35 words (SD = 13.03). The average Bayley MDI score was 95.87 (SD = 11.32). By 24 months, children's spontaneous language production had increased substantially, as indexed both by direct observation and by maternal report. Children produced an average of 40.59 word types (SD = 18.63) and 109.37 total words (SD = 75.31) in interaction with their mothers during the 10-minute observation. MacArthur CDI production scores averaged 53.17 (SD = 20.35). Average Bayley MDI scores fell to 85.26 (SD = 12.09). Bayley Language Factor scores averaged 6.77 (SD = 3.35).</p>
<p>Associations between child spontaneous speech measures, parent report measures, and children's performance on structured cognitive and language assessments are shown in Tables 1 and 2. Results showed that parental report of children's productive vocabulary at 14 months correlated moderately well with children's spontaneous vocabulary use as measured by word types (r = .43, p < .001) and total words (r = .39, p < .001). Bayley MDI scores at 14 months showed no relationship to spontaneous speech measures and only a weak association with either CDI comprehension (r = .18, p < .05) or production (r = .17, p < .05), suggesting that the structured Bayley assessment at this age indexes children's language development only minimally.</p>
<table border="1" width="600" cellpadding="4" cellspacing="1" bordercolor="#000000" align="center">
  <caption ><b>TABLE 1 <br />
    ASSOCIATIONS BETWEEN CHILD SPONTANEOUS SPEECH MEASURES, MATERNAL REPORT 
    MEASURES, AND STRUCTURED ASSESSMENTS AT 14 MONTHS </b></caption>
    <tr> 
      <th height="37" >&nbsp;</th>
      <th height="37" scope="col" >Word<br />
        Types </th>
        <th height="37" scope="col" >Total<br />
          Words </th>
          <th height="37" scope="col" >CDI<br />
            Production </th>
            <th height="37" scope="col" >CDI<br />
              Comprehension </th>
              <th height="37" scope="col" >Bayley<br />
                MDI </th>
              </tr>
              <tr> 
                <th scope="row"  align="left">Word Types</th>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
              </tr>
              <tr> 
                <th scope="row"  align="left">Total Words</th>
                <td >.88***<br />
                  (N = 161) </td>
                  <td >&nbsp;</td>
                  <td >&nbsp;</td>
                  <td >&nbsp;</td>
                  <td >&nbsp;</td>
                </tr>
                <tr> 
                  <th scope="row"  align="left">CDI Production</th>
                  <td >.43***<br />
                    (N = 158) </td>
                    <td >.39***<br />
                      (N = 158) </td>
                      <td >&nbsp;</td>
                      <td >&nbsp;</td>
                      <td >&nbsp;</td>
                    </tr>
                    <tr> 
                      <th scope="row"  align="left">CDI Comprehension</th>
                      <td >.19*<br />
                        (N = 159) </td>
                        <td >.14 <span class="superscript">n.s.</span><br />
                          (N = 159) </td>
                          <td >.51***<br />
                            (N = 158) </td>
                            <td >&nbsp;</td>
                            <td >&nbsp;</td>
                          </tr>
                          <tr> 
                            <th scope="row"  align="left">Bayley MDI</th>
                            <td >0.07<span class="superscript">n.s.</span><br />
                              (N = 158) </td>
                              <td >.07 (n.s.)<br />
                                (N = 158) </td>
                                <td >.17*<br />
                                  (N = 155) </td>
                                  <td >.18*<br />
                                    (N = 156) </td>
                                    <td >&nbsp;</td>
                                  </tr>
                                </table>
                                <table width="600" border="0" cellspacing="1" cellpadding="1" align="center">
                                  <tr> 
                                    <td> <span >* <span class="italic">p</span> &lt; .05 <br />
                                      ** <span class="italic">p</span> &lt; .01 <br />
                                      *** <span class="italic">p</span> &lt; .001 </span> 
                                      <p></p>
                                    </td>
                                  </tr>
                                </table>
                                <p></p>
                                <table border="1" width="610" cellpadding="4" cellspacing="1" bordercolor="#000000" align="center">
                                  <caption ><b>TABLE 2<br />
                                    ASSOCIATIONS BETWEEN CHILD SPONTANEOUS SPEECH MEASURES, MATERNAL REPORT 
                                    MEASURES, AND STRUCTURED ASSESSMENTS AT 24 MONTHS </b></caption>
                                    <tr> 
                                      <th height="37" >&nbsp;</th>
                                      <th height="37" scope="col" >Word<br />
                                        Types </th>
                                        <th height="37" scope="col" >Total<br />
                                          Words </th>
                                          <th height="37" scope="col" >CDI<br />
                                            Production </th>
                                            <th height="37" scope="col" >Bayley<br />
                                              MDI </th>
                                              <th height="37" scope="col" >Bayley<br />
                                                Language Factor</th>
                                              </tr>
                                              <tr> 
                                                <th scope="row"  align="left">Word Types</th>
                                                <td >&nbsp;</td>
                                                <td >&nbsp;</td>
                                                <td >&nbsp;</td>
                                                <td >&nbsp;</td>
                                                <td >&nbsp;</td>
                                              </tr>
                                              <tr> 
                                                <th scope="row"  align="left">Total Words</th>
                                                <td >.89*** <br />
                                                  (N = 158)</td>
                                                  <td >&nbsp;</td>
                                                  <td >&nbsp;</td>
                                                  <td >&nbsp;</td>
                                                  <td >&nbsp;</td>
                                                </tr>
                                                <tr> 
                                                  <th scope="row"  align="left">CDI Production</th>
                                                  <td >.53*** <br />
                                                    (N = 149)</td>
                                                    <td >.40*** <br />
                                                      (N = 149) 
                                                      <p></p>
                                                    </td>
                                                    <td >&nbsp;</td>
                                                    <td >&nbsp;</td>
                                                    <td >&nbsp;</td>
                                                  </tr>
                                                  <tr> 
                                                    <th scope="row"  align="left">Bayley MDI </th>
                                                    <td >.60*** <br />
                                                      (N = 151) 
                                                      <p></p>
                                                    </td>
                                                    <td >.49*** <br />
                                                      (N = 151) 
                                                      <p></p>
                                                    </td>
                                                    <td >.52*** <br />
                                                      (N = 147) 
                                                      <p></p>
                                                    </td>
                                                    <td >&nbsp;</td>
                                                    <td >&nbsp;</td>
                                                  </tr>
                                                  <tr> 
                                                    <th scope="row"  align="left">Bayley<br />
                                                      Language Factor</th>
                                                      <td >.68*** <br />
                                                        (N = 133)</td>
                                                        <td >.58** <br />
                                                          (N = 133) 
                                                          <p></p>
                                                        </td>
                                                        <td >.61*** <br />
                                                          (N = 129) 
                                                          <p></p>
                                                        </td>
                                                        <td >.78*** <br />
                                                          (N = 137) 
                                                          <p></p>
                                                        </td>
                                                        <td >&nbsp;</td>
                                                      </tr>
                                                    </table>
                                                    <table width="600" border="0" cellspacing="1" cellpadding="1" align="center">
                                                      <tr> 
                                                        <td> <span >* <span class="italic">p</span> &lt; .05 <br />
                                                          ** <span class="italic">p</span> &lt; .01 <br />
                                                          *** <span class="italic">p</span> &lt; .001 </span> 
                                                          <p></p>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                    <p>At 24 months, parent report of child language was strongly associated with both spontaneous speech measures (word types: r = .53, p < .001; total words: r = .40, p < .001) and with structured assessments (Bayley MDI: r = .52, p < .001; Bayley Language Factor: r = .61, p < .001). With few exceptions, these general patterns were found for families in both sites and across ethnic groups. Child productive vocabulary reported by Latina mothers was not associated with child word types at 24 months, possibly due to the small sample size (N = 27).</p>
                                                    <p>Regression analyses using maternal report of children's productive vocabulary to predict children's spontaneous vocabulary use (word types) and language performance on Bayley (Bayley Language Factor) confirm that parental reports of children's language development are congruent with actual vocabulary use and structured assessments, particularly at 24 months. At age 2, parental report alone accounted for 27.5 percent of variation in child word types and 37.5 percent in Bayley Language Factor scores. Controlling for maternal education, child gender and birth order, the variation accounted for by maternal report increased to 31.3 percent for word types and to 39.9 percent for Bayley Language Factor.</p>
                                                    <p>These results suggest that low-income parents' reports of children's language abilities are congruent with children's observed language use. Thus, parental report constitutes a valid outcome measure of program impacts on child language development. Bayley Language Factor scores, based on structured assessment with a relatively unfamiliar adult, are also strongly supported by direct observation of children's spontaneous speech in interaction with a familiar adult (i.e., primary caregiver), supporting the validity of the structured assessments used in the national evaluation.</p>