<!-- http://www.speech.kth.se/prod/publications/files/3605.pdf -->

<%= image_tag "http://www.kth.se/polopoly_fs/1.77257!/image/logo-main.png" %>
<hr/>

<h1>Productive Vocabulary Size Development in Children Aged 18-24 Months – Gender Differences</h1>
<br>

<h3>Abstract</h3>
<p>Several studies have shown slight differences in language skills between genders, favouring females. In order to investigate gender differences in speech production for Swedish children, the productive vocabulary size of 295 children, aged 18-24 months, was measured by the validated instrument SECDI-2. The size of the productive vocabulary was found to grow rapidly during this age. Significant gender differences were found at 21 and 24 months, but not at 18 months. The girls’ mean scores were higher.</p>

<h3>Introduction</h3>
<h4>Early vocabulary development</h4>

<p>Most children with normal development follow a similar pattern in language acquisition. At the end of the first year the child has phonetic recognition and a memory of concepts for objects, people and actions of the surroundings, which are necessary conditions for developing words. Closely before or after the first birthday the first word appears (e.g. Strömqvist, 2008).</p>

<p>The growth rate of the expressive vocabulary changes from slow to more rapid on majority of children at the end of the second year. This period of rapid word-learning, often referred to as the vocabulary spurt, could be characterised as a “naming explosion” (Goldfield & Reznick, 1990). The largest category of words in this period of time is nouns. Children with small vocabularies show a high percentage of social terms, such as onomatopoetic words, routines and naming of people (Stolt, Haataja, Lapinleimu & Lehtonen, 2008). Some children, especially those with older siblings, develop their expressive vocabulary at a more gradual pace instead of going through a vocabulary spurt. These children maintain a steady balance of nouns and other kind of words throughout their early lexical development (Goldfield & Reznick, 1990).</p>

<p>Expressive vocabulary size seems to be related to general language skills at the end of the second year (Stolt et al., 2008). There is also
a strong correlation between expressive vocabulary size and grammar skills during the end of the second year and forward (Berglund & Eriksson, 2000b).</p>

<h4>Gender differences</h4>

<p>Several studies have shown slight differences in language skills between genders. A metaanalysis by Hyde and Linn (1988), including 165 studies on children aged 3 to adult, reported data on gender differences in various verbal abilities. Their result indicated only a slight female superiority in performance. Large differences across multiple specific and general measures of language (including expressive vocabulary) were found between genders in the second through fifth year, but not before or after (Bornstein, Hahn & Haynes, 2004). The same study found that individual differences in children showed moderate to strong stability; girls and boys alike were stable. Gender-typed differences have been found to be apparent in communicative actions at 13 and 18 months by Stennes, Burch, Sen and Bauer (2005). They interpreted their results as some of the earliest evidence of gender-based schematic processing. Westerlund and Lagerberg (2007) found that girls had a more developed vocabulary and were more involved in reading than boys at 18 months.</p>

<p>A study of over 3000 2-year-old twin pairs that examined genetic and environmental origins showed, like other studies, that girls scored higher on verbal ability, measured by productive vocabulary (Galsworthy, Dionne, Dale & Plomin, 2000). More importantly, boys showed greater heritability than girls. This study concluded that the influence of factors correlate differently for male and female verbal development. Henrichs et al. (2010) found at both 18 and 30 months that boys were more likely to be delayed in expressive vocabulary skills than girls, but the gender difference’s contribution to the overall variance was small. These findings are consistent with the knowledge that early language delay is highly heritable and that boys are more prone to language problems (Dale et al., 1998).</p>

<p>In a study on birth order Bornstein, Leach and Haynes (2004) found that at 20 months first born girls outperformed boys on all vocabulary competence measures, and second born girls outperformed	boys	on	vocabulary comprehension and vocabulary production. Berglund, Eriksson and Westerlund (2005) also found that the effect of gender was larger than the effect of birth order. Though, they see no need for different praxis for girls and boys, since the difference is corresponding to only about one word. In Hyde and Linn’s meta-analysis (1988) the conclusion was that “the magnitude of the gender differences in verbal ability is currently so small that it effectively can be considered to be zero”. The one possible exception, according to Hyde and Linn, was measures of speech production which favoured females.</p>

<h4>Aim of the study</h4>
<p>The aim of this study was to investigate gender differences in speech production of Swedish children. The Swedish Early Communicative Development Inventory (Berglund & Eriksson, 2000a) was used to measure productive vocabulary. The research questions were: How does productive vocabulary size develop from 18 to 24 months of age? Are there any gender differences?</p>

<h3>Method</h3>
<h4>Participants</h4>

<p>This study drew its data from the SPRINT project, which is an ongoing Swedish prospective language study in which parents are invited to take part in an intervention program intended to actively support children’s communicative development. The children are followed from the age of 12 months. We used data collected at approximately 18, 21 and 24 months (±1 month) from the randomly selected control group, as well as the two groups that had not yet started their intervention. The sample consisted of children who were born during a 12-week period in 2008 (August-November). They all lived in the Stockholm area. We excluded children who were adopted or did not have Swedish as their first language, to avoid confounding variables. The final sample consisted of 295 children. However, all children did not participate at each assessment.</p>

<h4>Material and procedure</h4>

<p>A Swedish online version of the MacArthur Communicative Development Inventory, The Swedish Early Communicative Development Inventory – Words and Sentences (SECDI-2), was used to collect data on productive vocabulary. Good reliability for the Swedish version has been demonstrated (Berglund & Eriksson, 2000a). SECDI-2 consists of two parts. Part I includes A - a vocabulary checklist that consists of 710 items presented in 21 semantic categories, B - feedback morphemes, 10 items, C - pragmatic skills. Part II is a section for sentences and grammar. Only part I A and B was used here (max score 720). The parents filled in the SECDI-2 when the children were approximately 18, 21 and 24 months old.</p>

<p>PASW Statistics 18 was used for statistical analysis: descriptive statistics (M, SD, range, and percentiles) and one-way ANOVAs of productive vocabulary size and gender.</p>

<h3>Results</h3>

<p>The mean number of spoken words showed a 
steadily rising curve by increasing age. The number of words for males at 18 months was 85 words, with a standard deviation of 98 and a range of 3-448 words. The number of words for girls at 18 months was 95 words, with a standard deviation of 82 and a range of 2-423 words.  
The number of words for males at 21 months was 191 words, with a standard deviation of 158 and a range of 4-651 words. The number of words for girls at 21 months was 231 words, with a standard deviation of 140 and a range of 9-540 words.  
The number of words for males at 24 months was 317 words, with a standard deviation of 177 and a range of 6-681 words. The number of words for girls at 24 months was 417 words, with a standard deviation of 160 and a range of 20-658 words.  The boys in the lowest percentiles had 
a small increase between 18 and 21 months 
compared to the girls. Between 21 and 24 
months both boys and girls had a larger increase 
in the lowest percentiles, but the change was 
more apparent for the girls.</p>

<!-- Alex -->

<h3>Discussion</h3>

<p>This study has focused on the productive vocabulary size development and gender differences in Swedish children aged 18-24 months. Productive vocabulary size was found to grow rapidly during this age. Significant gender differences were found at 21 and 24 months, but not at 18 months.</p>

<p>Due to a server error a paper version of the SECDI-2 was sent out to some families at 21 months. This complication could have contributed to a loss of data seen at 24 months. Another methodological consideration is the use of parental reports. Self-report bias cannot be excluded; however, the SECDI is a validated instrument.</p>

<p>The curves of the lowest percentiles become steeper at around 21 months, and could indicate the start of a vocabulary spurt, which tends to occur around the end of the second year according to Goldfield and Reznick (1990). According to Strömqvist (2008), the vocabulary spurt starts somewhere between 1 and 3 years. The higher percentiles show a steeper curve already by 18 months. These children might already have started their vocabulary spurt. It is worth noting that 49 % of the children in our sample had at least one older sibling, which can have an effect on the pace of the early vocabulary development (Goldfield & Reznick, 1990). Another possible confounding factor could be that 21% had more than one language in their home environment. Since the distribution of girls and boys was even in both cases it has probably not resulted in further gender differences.</p>

<p>We got no significant result from the ANOVA concerning gender differences at 18 months. Several other studies have found gender differences at this age (e.g. Berglund et al., 2005; Stolt et al., 2008; Westerlund & Lager- berg, 2008). However, Berglund et al., argue that their result is so small that it is negligible. We argue the same thing for our findings at 21 months, where we found a significant difference explaining 1.7% of the variance. Other studies have found larger explained variance for simi- larly aged children (20 months), e.g. Bornstein, Hahn and Haynes (2004). At 24 months, though, the result explains 8.1% of the variance which we argue can no longer be considered negligi- ble. A difference at this age was also found by Galsworthy et al. (2000) and Bornstein, Hahn and Haynes (2004). Stolt et al. (2008) did not find a significant difference, however they question the effect of their small sample.</p>

<p>A part of our aim was to investigate gender differences in the vocabulary of young Swedish children. We conclude that there are small differences appearing at around the end of the second year. Girls have a more even distribution and boys have a wider range. The highest and lowest scores are generally held by boys, while girls have the highest mean score. It could de- pend on how genetic and environmental factors correlate differently for girls’ and boys’ early verbal development (Galsworthy et al., 2000). The lowest score for boys could be a consequence of them having a greater heredity for language delay (Dale et al., 1998). We cannot exclude though, that different expectations on boys and girls, resulting in different treatment, has a potential effect on verbal ability. It could be interesting in further studies to see what hap- pens with the difference at later ages. Another possible further study could be to compare high performing girls with high performing boys, as well as compare low performing girls and boys. One could also study the gender composition in the highest and lowest percentiles.</p>

