<p>
  <img src ="http://assets.babycenter.com/ims/png-images/new_babycenter_logo_opq24_280x110.png" alt=Baby Center Logo/>
</p>
<br>
<h1>Toddle Milestones: Talking</h1>
<hr>
<h3>Talking</h3>
<p>Talking is inextricably linked to understanding speech. By listening to others, your child learns what words sound like and how to put a sentence together. As a baby, he discovered first how to make sounds, then how to make those sounds into real words ("mama" and "dada" may have slipped out as early as 4 or 5 months). By the time he was a year old, he was diligently trying to imitate the sounds around him (though you probably heard him babbling away in a lingo that only he could understand). Now comes a period of extraordinary growth, as you watch your toddler go from speaking a few simple words to asking questions, giving directions, and even telling you stories he's made up.</p>
<h3>When and how it develops</h3>
<p>Here's how you can expect your toddler's talking to progress. If he's being raised in a bilingual environment, the number of words he can speak will be split between the two languages he's learning.</p>
<h4>12 to 18 months</h4>
<p>At his first birthday, your child will likely use one to five words meaningfully. By 14 months, that working vocabulary may grow to seven real words, though he may have up to 20 "words" (these may be more like sounds) that only he and someone close to him can understand. He'll even practice inflection, raising his tone when asking a question. He might say "Up-py?" when he asks to be carried, for example.</p>
<p>Your toddler is realizing the power of talking as a means of communicating his needs. Until he learns more words to get his ideas and desires across, he'll likely combine his speech with gestures to show what he wants. He'll reach his arms toward his favorite toy, for example, and say "ball." In fact, some toddlers develop a whole sign language of gestures to communicate with their parents. Your child might cover his face when he's embarrassed, for example, or pound on the table when he's mad.</p>
<p>Don't worry if he struggles to get his meaning across now and then. This frustration is actually a healthy sign that he's trying hard to communicate and cares whether or not you understand him.</p>
<p>By 16 months, your toddler will probably start making many common consonant sounds, such as t, d, n, w, and h. Learning to make these sounds is a watershed event, one that leads to the rapid vocabulary spurt that most children go through starting around 18 months. Don't expect to hear all these sounds in actual words yet. But you may hear him repeating them when he's alone in his crib or playing with his toys.</p>
<h4>19 to 24 months</h4>
<p>Your child now understands as many as 200 words, though he'll probably use only 50 to 75 of them regularly. Many of these words will be nouns that designate objects in his daily life, such as "spoon" and "car." Between 18 and 20 months, his pace will pick up as he acquires ten or more new words each day. If he's especially focused on learning to talk, he can add a new word to his vocabulary every 90 minutes so watch your language!</p>