<!-- http://en.wikipedia.org/wiki/Vocabulary_development -->

<%= image_tag "http://upload.wikimedia.org/wikipedia/en/b/bc/Wiki.png" %>
<hr/>

<h1>Vocabulary Development</h1>
<br>

<p>Vocabulary development is a process by which people acquire words. Babbling shifts towards meaningful speech as infants grow and produce their first words around the age of one year. In early word learning, infants build their vocabulary slowly. By the age of 18 months, infants can typically produce about 50 words and begin to make word combinations.</p>
<p>In order to build their vocabularies, infants must learn about the meanings that words carry. The mapping problem asks how infants correctly learn to attach words to referents. Constraints theories, domain-general views, social-pragmatic accounts, and an emergentist coalition model have been proposed to account for the mapping problem.</p>
<p>From an early age, infants use language to communicate. Caregivers and other family members use language to teach children about how to act in society. In their interactions with peers, children have the opportunity to learn about unique conversational roles. Through pragmatic directions, adults often offer children cues for understanding the meaning of words.</p>
<p>Throughout their school years, children continue to build their vocabulary. In particular, children begin to learn abstract words. Beginning around age 3-5, word learning takes place both in conversation and through reading. Word learning often involves physical context, builds on prior knowledge, takes place in social context, and includes semantic support. The phonological loop and serial order short term memory may both play an important role in vocabulary development.</p>

<h3>Early word learning</h3>

<p>Children begin to produce their first words when they are approximately one year old. Infants' first words are normally used in reference to things that are of importance to them, such as objects, people, and relevant actions. Also, the first words that infants produce are mostly single-syllabic or repeated single syllables, such as <i>no</i> and <i>dada</i>. By 12 to 18 months of age, children's vocabularies often contain words such as <i>kitty, bottle, doll, car,</i> and <i>eye</i>. Children's understanding of names for objects and people usually precedes their understanding of words that describe actions and relationships. <i>One</i> and <i>two</i> are the first number words that children learn between the ages of one and two. Infants must be able to hear and play with sounds in their environment, and to break up various phonetic units to discover words and their related meanings.</p>

<h3>Phonological development</h3>

<p>Studies related to vocabulary development show that children's language competence depends upon their ability to hear sounds during infancy. Infants' perception of speech is distinct. Between six and ten months of age, infants can discriminate sounds used in the languages of the world. By 10 to 12 months, infants can no longer discriminate between speech sounds that are not used in the language(s) to which they are exposed. Among six-month old infants, seen articulations (i.e. the mouth movements they observe others make while talking) actually enhance their ability to discriminate sounds, and may also contribute to infants' ability to learn phonemic boundaries. Infants' phonological register is completed between the ages of 18 months and 7 years.</p>

<p>Children's phonological development normally proceeds as follows:</p>

<p><b>6–8 weeks</b>: Cooing appears</p>
<p><b>16 weeks</b>: Laughter and vocal play appear</p>
<p><b>6–9 months</b>: Reduplicated (canonical) babbling appears</p>
<p><b>12 months</b>: First words use a limited sound repertoire</p>
<p><b>18 months</b>: Phonological processes (deformations of target sounds) become systematic</p>
<p><b>18 months–7 years</b>: Phonological inventory completion</p>
<p>At each stage mentioned above, children play with sounds and learn methods to help them learn words. There is a relationship between children's prelinguistic phonetic skills and their lexical progress at age two: failure to develop the required phonetic skills in their prelinguistic period results in children's delay in producing words. Environmental influences may affect children's phonological development, such as hearing loss as a result of ear infections. Deaf infants and children with hearing problems due to infections are usually delayed in the beginning of vocal babbling.</p>

<h3>Babbling</h3>

<p>Babbling is an important aspect of vocabulary development in infants, since it appears to help practice producing speech sounds. Babbling begins between five and seven months of age. At this stage, babies start to play with sounds that are not used to express their emotional or physical states, such as sounds of consonants and vowels. Babies begin to babble in real syllables such as "ba-ba-ba, neh-neh-neh, and dee-dee-dee," between the ages of seven and eight months; this is known as canonical babbling. Jargon babbling includes strings of such sounds; this type of babbling uses intonation but doesn't convey meaning. The phonemes and syllabic patterns produced by infants begin to be distinctive to particular languages during this period (e.g., increased nasal sounds in French and Japanese babies) though most of their sounds are similar. There is a shift from babbling to the use of words as the infant grows.</p>

<h3>Vocabulary spurt</h3>

<p>As children get older their rate of vocabulary growth increases. Children probably understand their first 50 words before they produce them. By the age of eighteen months, children typically attain a vocabulary of 50 words in production, and between two to three times greater in comprehension. A switch from an early stage of slow vocabulary growth to a later stage of faster growth is referred to as the <i>vocabulary spurt</i>. Young toddlers acquire one to three words per month. A vocabulary spurt often occurs overtime as the number of words learned accelerates. It is believed that most children add about 10 to 20 new words a week. Between the ages of 18 to 24 months, children learn how to combine two words such as <i>no bye-bye</i> and <i>more please</i>. Three-word and four-word combinations appear when most of the child's utterances are two-word productions. In addition, children are able to form conjoined sentences, using <i>and</i>. This suggests that there is a vocabulary spurt between the time the child's first word appear, and when the child is able to form more than two words, and eventually, sentences. However, there have been arguments as to whether or not there is a spurt in acquisition of words. Only about one in five children do have a spurt. This suggests that most children do not have a vocabulary spurt.</p>

<h3>Vocabulary development in school-age children</h3>

<p>During the first few years of life, children are mastering concrete words (e.g., <i>car,</i> <i>bottle,</i> <i>dog,</i> <i>cat</i>). By age 3, children are likely able to learn these concrete words without the need for a visual reference, so word learning tends to accelerate around this age. Once children reach school-age, they learn abstract words (e.g., <i>love</i>, <i>freedom</i>, <i>success</i>). This broadens the vocabulary available for children to learn, which helps to account for the increase in word learning evident at school age. By age 5, children tend to have an expressive vocabulary of 2,100-2,200 words. By age 6, they have approximately 2,600 words of expressive vocabulary and 20,000-24,000 words of receptive vocabulary. Many claim that children experience a sudden acceleration in word learning, upwards of 20 words per day, but it tends to be much more gradual than this. From age 6 to 8, the average child in school is learning 6-7 words per day, and from age 8 to 12, approximately 12 words per day.</p>