<div class="center">
  Not at all <strong>|
  <% for i in 0..num %>
    <%= content_tag :span, :data => { :value => i }, :class => "hover_to_x" do %>
      .
    <% end %>
  <% end %>
  |</strong> Very
</div>