<div class="center">
  Not much <strong>|
  <% for i in 0..100 %>
    <%= content_tag :span, :data => { :value => i }, :class => "hover_to_x" do %>
      -
    <% end %>
  <% end %>
  |</strong> A great deal
</div>