<header class="jumbotron masthead">
  <div class="inner">
    <h1>Thank You!</h1>

    <p>If you have any questions or for more information contact the <%= link_to "DRLRL", "mailto:alist@umd.edu?subject=[DRLRL Study] More Information Please" %>.</p>
  </div>
</header>