<header class="jumbotron masthead">
  <div class="inner">
    <h1>Welcome!</h1>
    
    <p>Please set aside 45 minutes of uninterrupted time to complete this study.</p>
    <p>We appreciate your participation!</p>
    <br>
    <p class="download-info"><%= link_to "Get Started!", new_participant_path, :class => "btn btn-success btn-large" %></p>
  </div>
</header>


<div class="span8">
  <%= render "source_evaluations/sources/Language/blog" %>
</div>