<!-- http://www.dailygalaxy.com/my_weblog/2012/04/image-of-the-day-a-billion-stars-of-the-milky-way.html -->

<%= image_tag "http://www.dailygalaxy.com/banner/logo-short.jpg" %>
<hr/>

<h1>Image of the Day: A Billion Stars of the Milky Way</h1>
<br>

<p>British scientists have produced a colossal picture of our Milky Way Galaxy that reveals the detail of a billion stars. The imamge was&#0160;built from thousands of individual images acquired by two UK-developed telescopes operating in Hawaii and in Chile, and concentrates on the dense plane of the galaxy, which means it renders as a very long, very thin strip. An online interactive tool allows you to zoom in to particular areas.</p>
Archived data from the project, known as the Vista Data Flow System, will be mined by astronomers to make new discoveries about the local cosmos.

<p>To get an even better view, University of Cambridge astronomers are now initiating a European-wide program, hailed as the premier European astrophysics space mission of the decade, to create the first 3D map of these billion stars in more detail.</p>
<p>With the largest digital camera ever built, the Gaia satellite, due to be launched into space in August 2013, will feed billion-pixel video data in three dimensions of a billion stars, galaxies, quasars, and solar system asteroids to a powerful data center at the Institute for Astronomy (IoA).</p>
<p>In 1989, the European Space Agency (ESA) launched Hipparcos, the first — and so far the only — satellite to chart the positions of stars, which produced a primary catalogue of about 118,000 stars, followed by a secondary catalogue, called Tycho, of over 2 million stars. Since Hipparcos was launched, Gaia will be able to measure a star’s position and motion 200 times more accurately, and will measure one billion stars.</p>
<p>In order to process the five years of Gaia’s photometric data, the team has worked for several years to develop a system that can calibrate the raw transmitted photometric data. Even highly compressed, the data transmitted by the satellite over the five-year mission would fill over 30,000 CDROMs (1300 DVDs or ~20 TB). Many times that amount will be produced during the processing of the data as intermediate results of computations.</p>
<p>The new installation has 108 processing servers, each have with two 6-core CPUs, 48 gigabytes of RAM, and 9 terabytes of hard-disk storage, a total of nearly 1 petabyte (1000 terabytes) of hard-disk storage. The system will process the photometric data from Gaia during the 5-6 years of mission operation, and for two years afterwards, to produce a calibrated set of measurements which can be freely used by the astronomical community.</p>
<p>Its two optical telescopes are capable of measuring the positions of celestial objects to an accuracy of up to 10 microarcseconds, comparable to the diameter of a human hair at a distance of 1000 km. To determine the properties of stars, Gaia will also split their emitted light into a spectrum before communicating the data back to Earth.</p>
<p>Gaia is expected to discover a multitude of new objects both in our solar system, including brown dwarfs and white dwarfs, supernovae and extra-solar planets; probe the distribution of dark matter; discover new asteroids; map over 500,000 quasars in the Universe; and measure the local structure of space-time.</p>