<p>
  <img src ="http://webdesy.com/webdesy-wp/wp-content/uploads/2012/01/yahoo-answers-logo.png" alt="Yahoo Answers"/>
</p>
<br>
<h1>How many stars are in the Milky Way?</h1>
<hr>
<h4>Best Answer - Chosen by Asker</h4>
<p>100-400 billion stars</p>
<hr>
<h4>Other Answers</h4>
<p>
  Our Milky Way galaxy alone is made up of an estimated 100 thousand million (100,000,000,000 or 10^10 ) stars.
  Counting the stars in our Milky Way individually, even counting non-stop at a rate of 1 star every second it would take over 3,170 years! Rather than count individual stars scientists look at how big and bright a galaxy is in order to estimate the number of stars that make it up. When they know this they multiply this number by the estimated number of galaxies in the universe. There are an estimated 10^10 galaxies in the universe. Stars are constantly being created and dying throughout our universe.
</p>
<hr>
<p>The stellar disk of the Milky Way Galaxy is approximately 100,000 light-years (9?1017 km) (6?1017 mi) in diameter, and is considered to be, on average, about 1,000 ly (9?1015 km) thick. It is estimated to contain at least 200 billion stars and even possibly as much as 400 billion stars...</p>
<hr>
<p>East mates vary from 100 billion to 400 billion.</p>
<hr>
<p>there is no real number there is just an estimate they say about 200,000,000 but for real who knows</p>