<!-- http://arxiv.org/pdf/astro-ph/0211417v1.pdf -->

<%= image_tag "http://www.aspbooks.org/images/ASPLogo.png" %>
<hr/>

            <h1>RAVE: The RAdial Velocity Experiment</h1>
            <h4>GAIA Spectroscopy, Science and Technology</h4>
            <h4>Astronomical Society of the Pacific Conference Series</h4>
                        <br>
                        <h4>Abstract.</h4>
                                  <p>
                                      RAVE (RAdial Velocity Experiment) is an ambitious program to
conduct an all-sky survey (complete to V = 16) to measure the radial
velocities, metallicities and abundance ratios of 50 million stars using
the 1.2-m UK Schmidt Telescope of the Anglo-Australian Observatory
(AAO), together with a northern counterpart, over the period 2006 - 2010.
The survey will represent a giant leap forward in our understanding of
our own Milky Way galaxy, providing a vast stellar kinematic database
three orders of magnitude larger than any other survey proposed for this
coming decade. RAVE will offer the first truly representative inventory
of stellar radial velocities for all major components of the Galaxy.
The survey is made possible by recent technical innovations in multi-
fiber spectroscopy; specifically the development of the 'Echidna' concept
at the AAO for positioning fibers using piezo-electric ball/spines. A 1m-class Schmidt telescope equipped with an Echidna fiber-optic positioner
and suitable spectrograph would be able to obtain spectra for over 20,000
stars per clear night.
Although the main survey cannot begin until 2006, a key component
of the RAVE survey is a pilot program of 10^5
stars which may be carried out using the existing 6dF facility in unscheduled bright time over the period 2003-2005.          
                                    </p>
                                    <hr>
                                    <h4>1. Introduction</h4>
                                    <p>In the first decade of the 21st century, it is being increasingly
recognized that many of the clues to the fundamental problem of galaxy formation in the early Universe
lie locked up in the motions and chemical composition of stars in our Milky Way galaxy
(for a review, see e.g. Freeman & Bland-Hawthorn 2002). Consequently, significant effort has been placed into
planning the next generation of large-scale astrometric surveys like GAIA. Stellar spectroscopy plays a crucial
role in these studies, not only providing radial velocities as a key component of the 6-dimensional phase space
of stellar positions and velocities, but also providing much-needed information on the chemical composition of individual stars.
Taken together, information on space motion and composition can be used to unravel the formation process of the Galaxy.
However, the GAIA mission, which will provide astrometry, radial velocities
and chemical abundance for up to 1 billion stars, is unlikely to be completed before the end of the next decade. Among the existing
surveys, the HIPPARCOS and the Tycho-2 catalog have compiled proper motions for 118,000 and for 2.5 million
stars, respectively, but radial velocities have been completed for only a few ten thousands. The new release of
the HST guide star catalog, GSC2.3, will include proper motions, and the astrometric satellite DIVA plans
to compile proper motions for up to 40 million stars, but no radial velocities are available for these
targets. To our knowledge no systematic survey is planned so far that includes radial velocities and that is
capable of filling this gap in size and time
between existing surveys and the GAIA mission. With the successful demonstration of ultra-wide-filed (40 deg^2) multi-object
spectroscopy (MOS) on the UK Schmidt telescope of the AAO, a major opportunity beckons to generate the first large-scale all-sky spectroscopic survey of Galactic stars with a radial velocity precision better than 2 km s^-1.
In this paper we map out the case for RAVE (RAdial Velocity Experiment),
an ambitious plan to measure radial velocities and chemical compositions for up to 50 million stars by 2010 using novel instrumentation techniques on the UK Schmidt telescope and on a northern counterpart.
                                    </p>
                                    <h4>2. The RAVE survey </h4> 
<p>
     RAVE is a large international collaboration involving a still growing list of astrophysicists from Australia, Canada, France, Germany, Italy, Japan, the Netherlands, the UK and the USA. The RAVE survey is split into two components: a pilot survey and a main survey.       <ul>
                        <li>The pilot survey is a preliminary spectral survey, using the existing
6dF system at the UK Schmidt telescope of the AAO to observe about
100,000 stars in approx. 180 days of unscheduled bright-time during the years
2003-2005. The 6dF spectrograph will target on the Ca triplet region
(850-875nm) favored by the GAIA instrument definition team. Spectra
are taken at a resolution of R = 4000. Test observationsindicate that an
accuracy of 2 km s^-1 can be achieved.
The target list would include a large fraction of the 118,000 HIPPARCOS
stars that are accessible from the southern hemisphere as well as some of
the 2,539,913 stars of the Tycho-2 catalog. The survey will focus on stars
in the color range 0.4< B-V< 0.8. For these stars, useful photometric
parallaxes can be derived if the trigonometric parallaxes are not available.
The 6dF spectra will also provide useful estimates of the [Fe/H] value.
                        </li>
                        <li>
                           The main survey will utilize a new Echidna-style multi fiber spectrograph (see Fig. 2) at the UK-Schmidt telescope. It consists of a 2250-spine
fiber array covering the full field of the Schmidt Telescope (40 deg^2). The
spines are hexagonally-packed on =7 mm centers. Each spine can be
deformed by a piezo element resulting in a 15-arcmin patrol area. The key advantage of this new MOS design is its short reconfiguration time of =5 min. Echidna will feed an efficient spectrograph using a high-efficiency
Volume Phase Holographic (VPH) grating and will use a single 2k by 4k
red-optimized detector. With 250A coverage required for the Ca triplet
region, a dispersion of 0.375A pixel^-1 will yield R approx. 10.000 spectroscopy with
2-pixel sampling. Again the survey will target the Ca triplet region. At R = 10,000 we expect radial velocities at 1 km s^-1
accuracy. Iron abundances [Fe/H] could be determined to 0.1 dex accuracy and useful
estimates of the differential [a/Fe] abundance ratios for about half the stars (V < 15).
The main study is expected to be performed throughout the period 2006-
2010. Owing to the short reconfiguration time of the new Echidna MOS,
about 22,000 stars can be observed per night in 30 min exposures, resulting
in S/N=30 spectra at V = 15. Throughout the 5 year campaign, a total of
25 million stars can thus be targeted. Subject to an equivalent instrument
on the northern hemisphere, RAVE will yield a total of 50 million radial
velocities, metallicites and, for a subset of <50% of the sample, also
abundance ratios.         
                        </li>
            </ul>
The RAVE survey will provide a vast stellar kinematic database three orders
of magnitude larger than any other survey proposed for this decade. The main data product will be a magnitude-limited survey of 26 million thin disk main sequence stars, 9 million thick disk stars, 2 million bulge stars, 1 million halo stars, and a further 12 million giant stars including some out to 60 kpc from the Sun. RAVE will offer the first truly representative inventory of stellar radial velocities for all major components of the Galaxy.
</p>
<br>
                                    <h4>3.1. Summary and Conclusions
                                    </h4>
                                    <p>
                                       RAVE is an international project designed to survey radial velocities, metallicities and abundance ratios for the brightest 50 million stars in the Galaxy down to a completeness limit of V=16. This is sufficiently deep to allow for kinematic and chemical studies of all major stellar components of the Galaxy. RAVE has a number of science goals addressing a wide range of priority areas in galactic structure and dynamics.
The RAVE survey is expected to be performed throughout the period 2003-
2010. It also provides an opportunity to pre-empt some of the spectral work in the GAIA mission, providing results up to one decade earlier than that planned for the GAIA final release and probably still well ahead of the launch of GAIA (2012). Thus RAVE serves as an ideal real-data training set for the final design of the GAIA data reduction pipeline and may even inßuence some of the final design decisions.         
                                    </p>