<p>
  <img src ="http://www.sciencedaily.com/images/logo.gif" alt="Science Daily Logo"/>
</p>
<br>
<h1>Science News</h1>
<hr>
<p><h2>Young Toddlers Think In Terms of Whole Object, Not Just Parts</h2></p>
<p>Seeing through a child's eyes can help parents better introduce new words to young toddlers, according to research from Purdue University.</p>
<p>"This new research shows that as young toddlers learn language, they are more likely to focus on objects rather than parts," said George Hollich, an assistant professor of psychological sciences. "Because of this bias, children automatically assume you are talking about an object. So, when labeling more than just an object, adults need to do something special such as pointing at the part while saying its word or explaining what the item does."</p>
<p>For example, when introducing a young toddler to a dog, the child automatically thinks of the object as a dog. If adults want to talk about the dog's tail or its bark, then they need to be more explicit when communicating with the child. If adults do not make this effort, it can hinder the child's understanding, said Hollich, who also is director of Purdue's Infant Language Lab.</p>
<p>The study appears in the fall issue of the journal Developmental Psychology. Hollich studied 12- and 19-month-olds because their vocabularies are still in the beginning stages of development. Forty-eight children participated in the study. During the experiments, the young toddlers were introduced to familiar objects, such as a cup with a lid and a shoe with laces, as well as two made up objects that were wood cutouts and could be separated. One part of these wood cutouts was designed to be more attractive to a child. Even with the part's visual appeal, Hollich found the children paid more attention to the entire object than to the part. </p>
<p>"We expected that because infants are so taken by the part's salience, specifically bright colors and geometric patterns, they would fail to learn the name for a whole object and instead associate the name with the perceptually interesting and separate part," Hollich said. "But we found the opposite. This reinforces that children, even as young as 12 months old, make assumptions about what words might mean. And like all assumptions, sometimes they can be wrong."</p>
<p> The average vocabulary comprehension for a 12-month-old is 65-110 words, and that increases to a few thousand by the time the child is 2.</p>
<p>"There is a lot going on when infants and young children learn language," Hollich said. "In addition to parents emphasizing an object, its parts and its function when talking to children, parents also should reduce background noises and look at children as they speak to them."</p>