<p>
  <img src ="http://i1.nyt.com/images/misc/nytlogo379x64.gif" alt="New York Times"/>
</p>
<br>
<h1>Space & Cosmos</h1>
<hr>
<h2>Cast Adrift in the Milky Way, Billions of Planets, All Alone</h2>
<p>Is the galaxy full of orphans?</p>
<p>Astronomers said Wednesday that space was littered with hundreds of billions of planets that had been ejected from the planetary systems that gave them birth and either were going their own lonely ways or were only distantly bound to stars at least 10 times as far away as the Sun is from the Earth.</p>
<p>There are two Jupiter-mass planets floating around for each of the 200 billion stars in the Milky Way galaxy, according to measurements and calculations by an international group of astronomers led by Takahiro Sumi, of Osaka University in Japan, and reported in the journal Nature.</p>