<!-- http://www.universetoday.com/22380/how-many-stars-are-in-the-milky-way/ -->

<%= image_tag "http://embargowatch.files.wordpress.com/2011/03/universe-today-logo.jpg" %>
<hr/>

<h1>How Many Stars are in the Milky Way?</h1>
<br>

<p>When you look up into the night sky, it seems like you can see a lot of stars. There are about 2,500 stars visible to the naked eye at any one point at any one time on the Earth, and 5,800-8,000 total visible stars. But this is a very tiny fraction of the stars the Milky Way is thought to have! Astronomers estimate that there are<em> 200 billion to 400 billion </em>stars contained within the Milky Way.</p>

<p>Why can we only see so few of these stars? Our Solar System is located within the disk of the Milky Way, which is a barred spiral galaxy approximately 100,000 light years across. We are about 30,000 light years from the galactic center. That means there is a lot of distance – and a lot of stars – between us and the other side of the galaxy. When looking out at all of these stars, even closer stars that are relatively bright can get washed out by the light of brighter stars behind them. If you’re up for counting a few of the stars, check out this mosaic from NASA’s Astronomy Picture of the Day.</p>

<p>The furthest stars you can see with your naked eye (with a couple of exceptions) are  1000 light years away. There are quite a few bright stars in the Milky Way, but clouds of dust and gas – especially those that lie at the galactic center – block visible light. So we can only really see the stars in our vicinity, and those on the other side of the galaxy are hidden from us. Infrared (heat-sensitive) cameras like COBE can see through the gas and dust because the infrared light travels through it. Here’s a picture of the Milky Way in the infrared take by COBE.</p>

<p>How do we know how many stars are in the Milky Way? Well, we certainly can’t count them all up, since many of them we can’t see. The number of stars is calculated by observing the orbit of stars in the Milky Way’s disk, obtaining the orbital velocity of the Milky Way itself, then figuring the mass of the galaxy. After determining the mass (and subtracting out the halo of dark matter that makes up over 90% of the Milky Way’s heft), astronomers use surveys of the masses and types of stars in the galaxy to come up with an average mass, and the estimate of 200-400 billion stars.</p>