<!-- http://en.wikipedia.org/wiki/Milky_Way -->

<%= image_tag "http://upload.wikimedia.org/wikipedia/en/b/bc/Wiki.png" %>
<hr/>

<h1>Milky Way</h1>
<br>

<p>The <b>Milky Way</b> is the galaxy that contains the Earth. This name derives from its appearance as a dim "milky" glowing band arching across the night sky, in which the naked eye cannot distinguish individual stars. The term "Milky Way" is a translation of the Classical Latin <i>via lactea</i>, from the Hellenistic Greek <i>γαλαξίας κύκλος</i> (pr. <i>galaxías kýklos</i>, "milky circle").</p>

<p>The Galaxy has this appearance because it is a disk-shaped structure that is being viewed from inside. Earth is located within the Galactic plane of this disk, around two thirds of the way out from the center, on the inner edge of a spiral-shaped concentration of gas and dust called the Orion–Cygnus Arm. The concept of this faint band of light being made up of stars was proven in 1610 when Galileo Galilei used his telescope to resolve it into individual stars. In the 1920s observations by astronomer Edwin Hubble showed that the Milky Way was just one of around 200 billion galaxies in the observable universe.</p>

<p>The Milky Way is a barred spiral galaxy 100,000–120,000 light-years in diameter containing 200–400 billion stars. The Galaxy is estimated to contain at least as many planets, 10 billion of which could be located in the habitable zone of their parent star. The rotational rate of the Galaxy is once every 15 to 50 million years. The Galaxy is also moving at a velocity of 552 to 630&nbsp;km per second, depending on the relative frame of reference. It is estimated to be about 13.2 billion years old, nearly as old as the Universe. The Milky Way is part of the Local Group of galaxies.</p>

<h2>Size</h2>

<p>The stellar disk of the Milky Way Galaxy is approximately 100,000 light-years (30 kiloparsecs, 9 × 10<sup>17</sup>&nbsp;km) in diameter, and is considered to be, on average, about 1,000&nbsp;ly (0.3&nbsp;kpc) thick. It is estimated to contain at least 100&nbsp;billion stars and possibly up to 400&nbsp;billion stars. The exact figure depends on the number of very low-mass, or dwarf stars, which are hard to detect, especially at distances of more than 300&nbsp;ly (90&nbsp;pc) from the Sun. Hence, current estimates of the total number remain highly uncertain, though it is often speculated to be around 250 billion. This can be compared to the one trillion (10<sup>12</sup>) stars of the neighboring Andromeda Galaxy.</p>

<p>The disk of stars in the Milky Way does not have a sharp edge beyond which there are no stars. Rather, the concentration of stars drops smoothly with distance from the center of the Galaxy. Beyond a radius of roughly 40,000&nbsp;ly (12&nbsp;kpc), the number of stars per cubic parsec drops much faster with radius, for reasons that are not understood. Both gravitational microlensing and planetary transit observations indicate that there may be at least as many planets bound to stars as there are stars in the Milky Way, while microlensing measurements also indicate that there are more rogue planets not bound to host stars than there are stars. Earth-sized planets may be more numerous than gas giants.</p>

<p>Filling the place between the stars within and around the stellar disk is a disk of gas called the interstellar medium. The disk of gas has at least a comparable extent in radius to the stars, while the thickness of the gas layer ranges from hundreds of light years for the colder gas to thousands of light years for warmer gas.</p>

<p>As a guide to the relative physical scale of the Milky Way, if it were reduced to 100 meters (110&nbsp;yd) in diameter, the Solar System, including the hypothesized Oort cloud, would be no more than 1 millimeter (0.039&nbsp;in) in width, or a grain of sand in a football field.</p>

<p>The Galactic Halo extends outward, but is limited in size by the orbits of two Milky Way satellites, the Large and the Small Magellanic Clouds, whose perigalacticon is at about 180,000 ly (55&nbsp;kpc). At this distance or beyond, the orbits of most halo objects would be disrupted by the Magellanic Clouds, and the objects would likely be ejected from the vicinity of the Milky Way.</p>