<h2>Questionnaire Part 12</h2>
<br>

<%= form_for @questionaire, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <% for i in 71..77 %>
    <%= render "questionaires/question", :question => @question_texts[i % 43], :index => i, :f => f %>
  <% end %>

  <p>
    <%= f.submit "Next Step", :class => 'btn btn-primary' %>
  </p>
<% end %>