<%= form_for @questionaire, :html => { :class => 'form-horizontal' } do |f| %>

  <p class="instructions">
    <%= render 'questionaires/instructions/context_instructions', :part => 2, :ad_test => @participant.ad_test %>
  </p>
  <div class="control-group">
    <%= f.text_area :context2, :class => "span8", :rows => 8 %>
  </div>

  <p>
    <%= f.submit "Finish Survey", :class => 'btn btn-primary' %>
  </p>
<% end %>