<%= form_for @questionaire, :html => { :class => 'form-horizontal' } do |f| %>

  <% for i in 14..20 %>
    <%= render "questionaires/question", :question => @question_texts[i % 43], :index => i, :f => f %>
  <% end %>

  <p>
    <%= f.submit "Next Step", :class => 'btn btn-primary' %>
  </p>
<% end %>