<div class="progress progress-warning span4 overall">
  <div class="bar" style="width: <%= progress %>%;"></div>
</div>
<ul class="nav">
  <div class="nav-progress inline">
    <%= progress %>%
  </div>
</ul>