<div class="well">
  <h3>Directions</h3>
  <p class="instructions">
    When you respond to this set of items, please rate your agreement according to what you think and do when you are looking up something 
    specific in relation to an academic task (e.g., a definition, a formula, or the date something occurred).
  </p>
</div>

<div class="alert alert-block alert-info">
  <!-- Prompt -->
  For something specific in relation to an academic task...
</div>

<hr/>