<div class="well">
  <h3>Directions</h3>
  <p class="instructions">
    When you respond to this set of items, please rate your agreement according to what you think and do when you are trying to gain an
    understanding about something in relation to an academic task (e.g., researching different sides of an issues, gathering in-depth material 
    on a specific topic).
  </p>
</div>

<div class="alert alert-block alert-info">
  <!-- Prompt -->
  For gaining an understanding about something in relation to an academic task...
</div>

<hr/>